{% load static %}

<h1>Expense List</h1>

<p><a href="{% url 'expense_add' %}">
    <img src="{% static 'img/add.png' %}" alt="">
</a></p>

<p>Total this month: <span style="font-weight: bold">{{ total_money_spent|floatformat:2 }} GEL</span></p>

<table cellspacing="5">
    <thead>
        <tr>
            <th>Date</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for expense in expenses %}
        <tr>
            <td>{{ expense.date }}</td>
            <td style="font-weight: bold">{{ expense.money_spent }} GEL</td>
            <td>
                <a href="{% url 'expense_detail' expense.pk %}">
                    <img src="{% static 'img/edit.png' %}" alt="">
                </a>
            </td>
            <td>
                <a href="{% url 'expense_delete' expense.pk %}">
                    <img src="{% static 'img/delete.svg' %}" alt="">
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>  