{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Catogories</h1>
    <div class="container">
        <a href="{% url 'daily_expense_list' %}" class="btn btn-primary mb-5">Back</a>
        <a href="{% url 'expense_category_create' %}" class="btn btn-primary mb-5">Create Category</a>
    </div>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                {% for category in expense_categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
{% endblock content %}